{# templates/admin/contacts.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact List{% endblock %}

{% block body %}
    <h1>Contact List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
